@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    #other {
        text-align: right;
        align-self: flex-end;
    }
    #other .message__info {
        text-align: right;
        justify-content: flex-end;
        align-self: flex-end;
    }
}