@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    #you {
        text-align: right;
        align-self: flex-end;
    }
    #you .message__info {
        text-align: right;
        justify-content: flex-end;
        align-self: flex-end;
    }
}